.weekday-event-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 3px;
  font-weight: bold;
  font-size: 12px;
}

.weekday-event-dot {
  position: relative;
  top: 8px;
  float: left;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0.1rem 0.1rem;
}

.weekday-event-dot + .weekday-event-title {
  color: #333;
}

.weekday-resize-handle {
  position: absolute;
  top: 0;
  right: 5px;
}

.weekday-resize-handle.handle-y {
  cursor: col-resize;
}